.card {
  display: flex;
  width: 600px;
  padding: 12px 16px;
  align-items: center;
  gap: 95px;
  border-radius: 6px;
  border: 0.5px solid #e0e0e0;
  background: var(--Background-Color, #fafafa);
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.more {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

p {
  color: var(--Primary-Subtitle-Color, #686868);
  font-feature-settings: "salt" on, "liga" off;

  /* Body Very Small */
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 140% */
}
h3 {
  color: var(--Secondary-Title-Color, #303030);
  font-feature-settings: "salt" on, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
