.cards {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

h4 {
  color: var(--Tertiary-Color, #161e54);
  font-feature-settings: "salt" on, "liga" off;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  margin-right: 0px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.card2 {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
